:root{

}


.customerContainer{
    width: 1fr;
    height: 100%;
    display: grid;
    grid-template-rows: 50px 1fr;
    padding: 0;
    margin: 0 3% 0 3%;

}
h1{
    
    padding: 0;
    margin: 0;
}

.customerHeader{
    border-bottom: 2px solid silver;
   
}


.customerMainSearchAndFilteredAndInvitation{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    align-items: center;
    background-color: bisque;
    padding: 20px 0 20px 0;
    gap: 20px;
    
}

.customerInvite{
    text-align: end;
}

.customerInvite button{
    /* padding: 10px 15px 10px 15px; */
    background-color: blue;
    color: white;
    border-radius: 10px;
    height: 30px;
}

select{
    height: 30px;
    border-radius: 5px;
}

#search{
    height: 30px;
    width: 200px;
}

.customerMainCards .customerCardHeader,.customerCardsMain{
    /* width:80;
    margin: 0 5% 0 5%; */
    /* padding: 0 100px 0 0;  */
    border-left: 1px solid silver;
    border-right: 1px solid silver;
}



.customerCard{
    margin-top: 20px;
    font-size: 18px;
    /* padding: 20px; */
}
.customerMain{
    display: grid;
    position: relative;
    /* grid-template-rows: 1fr 6fr; */
}

.customerCardHeader{
    background-color: rgba(255, 235, 205, 0.812);
    border-radius: 10px 10px 0 0;
    /* padding:0 0 0 0; */
}

.customerCardHeader, .customerCardsMain .customerCardsMainItemsStyle{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    align-items: center;
    justify-self: center;
}

#para{
    color: blue;
}
.customerCardHeader img, .customerCardsMain img{
    border-radius: 50px;
    height: 50px;
    width: 50px;
}

.customerCardsMain{
    overflow:auto;
    height:450px;
    /* background-color:beige; */
    border-radius: 0 0 10px 10px;
    padding:5px 0 5px 0px;
}



.customerCard{
    font-weight: 500;
}

.customerCardHeaderItem{
    text-align: center;
}

#customerCardHeaderItemCheckbox,#customerCardHeaderItemPic{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
}

.customerFooter{
    text-align: center;
    
}

.popUpContainer{
    height: 500px;
    width: 600px;
    position: absolute;
    z-index: 200;
    background-color: purple;
    top: 150px;
    left: 25%;
    border-radius: 10px
}
.popUpContainerSub button{
    position: relative;
    height: 25px;
    width: 25px;
    background-color:red;
    color: white;
    left: 574px;
    top: -2px;
    border-radius: 5px;
}

/* .customerCardsMainItemsStyle:nth-child(odd){
    background-color: aqua;
    border-top: 1px solid silver;
    border-bottom: 1px solid silver;
} */

.customerCardsMainItemsStyle{
    /* background-color: aqua; */
    border-top: 1px solid silver;
    border-bottom: 1px solid silver;
}